html, body {
    margin: 0;
    height: 100%;
}
body {
    font-family: 'Hind Siliguri', sans-serif;
    min-height: 100vh;
}

section.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-align: center;
}

.nav .cartoon_globe {
    margin-right: 10px;
    width: 50px;
}

.cartoon_globe:hover {
    cursor: pointer;
}

.up {
    display: none;
}
.back_button {
    margin: 20px;
}

.img {
    box-sizing: border-box;
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.img:hover {
    transform: scale(1.035);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.page_1 {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-60px);
}

.label_country {
    margin: 10px;
}

footer {
    box-sizing: border-box;
    padding-right: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100px;
    background-color: #E8FFF5;

}

p {
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    display: inline-block;
    transition: transform 200ms ease-in-out opacity 200ms ease-in-out;
}

a:hover {
    transform: scale(1.01);
    opacity: 0.6;
}
